@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.generate {
  width: 15rem;
  height: 3rem;
  border: 1px solid lightgreen;
  border-radius: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copy-btn,
.generate-btn {
  width: 7rem;
  height: 2.3rem;
  margin: 1rem;
  background-color: lightgreen;
  border-radius: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 0.9rem;
  font-weight: 500;
}
